<% if user_signed_in? %>
  <h1>Welcome <%= current_user.username %> To Readlist</h1>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Welcome To Readlist</h1>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<h2>Books</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each_with_index do |book, idx| %>
    <tr>
      <th scope="row"><%= idx %></th>
      <td><%= book.title %></td>
      <td><%= 
      truncate(
          book.description, 
          length: 80,
          separator: ' '
        )
      %></td>
    </tr>
  <% end %>
  </tbody>
</table>
