<%= render "application/user_navbar" %>
<main class="container">
  <h1 class="mt-4">Add a new book</h1>
  <%= form_with model: @book do |f| %>
    <%= render "application/error_messages", resource: @book %>

    <div class="field form-floating">
      <%= f.text_field :title, autofocus: true, class: "form-control" %>
      <%= f.label :title %>
    </div>

    <div class="field form-floating mt-2">
      <%= f.text_area :description, autofocus: true, class: "form-control", style: "height:100px" %>
      <%= f.label :description %>
    </div>

    <div class="field form-floating mt-2">
      <%= f.select :year_published, (Time.now.year).downto(Time.now.year - 100).to_a, { include_blank: "No year" }, { class: "form-select" } %>
      <%= f.label :year_published %>
    </div>

    <div class="field form-floating mt-2">
      <%= 
        f.collection_select :author_id, Author.order(:name), :id, :name, {}, {class: "form-select" }
      %>
      <%= f.label :author_id %>
    </div>

    <div class="actions">
      <%= f.submit "Add new book", class: "btn btn-primary w-100 mt-4" %>
    </div>
  <% end %>
</main>
