<!DOCTYPE html>
<html class="h-100" data-bs-theme="dark">
  <head>
    <title>Readlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-100">
    <% unless notice.nil? %>
      <p class="notice"><i class="bi bi-info-square"></i><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert"><i class="bi bi-exclamation-circle"></i><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
